apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: bookinfo
resources:
  - namespace.yaml
  - bookinfo.yaml
  - httproute.yaml
  - domain-config.yaml

replacements:
  - source:
      kind: ConfigMap
      name: domain-config
      fieldPath: data.BOOKINFO_HOSTNAME
    targets:
      - select:
          kind: HTTPRoute
          name: bookinfo
        fieldPaths:
          - spec.hostnames.0

